/* auth.css */
:root {
  background-color: #ffffff;
}

html {
  /* font-size: 16px; */
  /* -webkit-text-size-adjust: 100%; */
  /* -ms-text-size-adjust: 100%; */
  font-family: "Lato Extended", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}

.body {
  font-size: 16px;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #6D6E70;
  -webkit-font-smoothing: antialiased;
}

.flash-message-container {
  font-size: 13px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  padding: 6px 40px 6px 48px;
  margin-top: 5px; 
  min-height: 20px;
  min-width: 17rem;
  max-width: 32rem;
  line-height: 1.3;
  z-index: 2;
  vertical-align: middle;
  box-shadow: 0 1px 8px rgba(0, 0, 0, .25);
  border: 2px solid #b71f26;
  border-radius: 6px;
  background-color: #fff;

}
.flash-message-container1 {
  font-size: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  padding: 6px 40px 6px 48px;
  margin-top: 5px; 
  min-height: 20px;
  min-width: 17rem;
  max-width: 32rem;
  line-height: 1.3;
  z-index: 2;
  vertical-align: middle;
  box-shadow: 0 1px 8px rgba(0, 0, 0, .25);
  border: 1px solid #353434a6;
  border-radius: 6px;
  background-color: #fff;

}

.login-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* Set the container to take the full height of the viewport */
  background-color: #923D41
}

.login-top {
  flex: 1.2;
  /* Make the top part slightly bigger */
  background-color: #923D41;
  /* Add a background color to distinguish the top and bottom halves */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-container {
  margin-top: 24px;
  max-width: 300px;
  padding: 20px;
  border: 1px solid #923D41;
  border-radius: 5px;
}

.login-content {
  width: 320px;
  width: 350px;
  margin: 0 auto;
  padding: 12px;
  border-radius: 5px;
}

.inner-content {
  padding-top: 24px;
  border-radius: 5px;
}

.header {
  padding: 0 18px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.login-header-logo {
  flex: 0 0 160px;
  min-width: 1px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.login-body {
  padding: 18px 18px 12px 18px;
  margin-top: 12px;
}

.login_form {
  margin: 0 0 20px;
}

.form-control {
  /* display: block; */
  box-sizing: border-box;
  margin-bottom: 18px;
  position: relative;
  display: block;
}

.form-label {
  box-sizing: border-box;
  margin: 0 0 6px;
  display: block;
  line-height: 1.4;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}

.form-input {
  width: 100%;
  height: 35px;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: none;
  box-sizing: border-box;
  transition: all .2s ease-out;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  outline-color: transparent;
  outline-offset: -12px;
  background: #fff;
  padding: 8px 12px;
  border-color: #d8e0e6;
  outline-style: solid;
  outline-width: 12px;
}

.login-actions {
  display: flex;
  align-items: center;
  color: #fff;
}

.login-timeout {
  flex: 1;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: normal;
  /* line-height: 20px; */
}

.check {
  font-size: 12px;
  font-size: 0.6875rem;
  font-weight: 400;
  padding-bottom: 15px;
}

.login-forgot {
  padding-top: 15px;
  text-decoration: underline;
  cursor: pointer;
  padding-left: 5px;
  font-size: 15px;
  font-size: 0.7875rem;
  font-weight: 400;
}

.form-login-button {
  margin-bottom: 0;
  padding: 2px;
}

.login-button {
  padding: 7px 36px;
  background: transparent;
  color: #fff;
  border: 0.5px solid #fff;
  border-radius: 4px;
  overflow: visible;
  cursor: pointer;
}

.login-footer {
  display: block;
  color: #fff;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.login-footer__links {
  padding: 12px;
  text-align: center;
}

.flink {
  outline-width: 0.125rem;
  outline-color: transparent;
  outline-style: solid;
  color: #fff;
  font-size: 11px;
  font-size: 0.6875rem;
  padding: 0 6px;
  white-space: nowrap;
  text-decoration: underline;
}

.login-bottom {
  flex: 1;
  background-color: #923D41;
}