
body{
    font-size: 16px;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #6D6E70;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
    background: #fff;
    /* font-weight: 300; */
    margin: 0
}

.iac-app{
    box-sizing: border-box;
    min-height: 100vh;
}

.iac-layout-wrapper{
    margin-left: 74px;
    background-color: #6D6E70;
}

.iac-layout-columns{
    position: relative;
    box-sizing: border-box;
    z-index: 10;
    flex: 1 0 auto;
    min-width: 1px;
}

.iac-main-app-content{
    display: flex
}

.iac-main-content-wrapper{
    flex: 1;
    min-width: 1px;
    box-sizing: border-box;
}

.iac-main-content{
    padding: 24px;
    padding-left: 12px;
}


.iac-main-right-side-wrapper{
    display: block;
    width: 288px;
    padding-left: 24px;
    position: relative;
}

.PlannerItem-styles__root {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align children to start and end */
    padding: 12px;
    border: 1px solid #ddd;
    margin-bottom: 8px;
  }
  
  .PlannerItem-styles__completed {
    margin-right: 12px;
  }
  
  .PlannerItem-styles__icon {
    margin-right: 12px;
  }
  
  .PlannerItem-styles__layout {
    flex-grow: 1;
  }
  
  .PlannerItem-styles__details {
    display: flex;
    align-items: baseline;
  }
  
  .PlannerItem-styles__type {
    margin-right: 8px;
  }
  
  .PlannerItem-styles__badges {
    display: flex;
    flex-direction: column;
    margin-right: 8px;
  }
  
  .PlannerItem-styles__badges .badge {
    margin-bottom: 4px;
    background-color: #ddd;
    padding: 4px 8px;
    border-radius: 4px;
  }
  
  .PlannerItem-styles__metrics {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align children to the end (right) */
  }
  
  .PlannerItem-styles__due {
    color: #888;
  }
  